/ === Content Part ===
.container
  .row.margin-bottom-30
    .col-md-9.mb-margin-bottom-30
      / Google Map
      #map.map.map-box.map-box-space.margin-bottom-40
      / -/map
      / End Google Map
      %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit landitiis.
      %br/
      %form
        %label Name
        .row.margin-bottom-20
          .col-md-7.col-md-offset-0
            %input.form-control{type: "text"}/
        %label
          Email
          %span.color-red *
        .row.margin-bottom-20
          .col-md-7.col-md-offset-0
            %input.form-control{type: "text"}/
        %label Message
        .row.margin-bottom-20
          .col-md-11.col-md-offset-0
            %textarea.form-control{rows: "8"}
        %p
          %button.btn-u{type: "submit"} Send Message
    / /col-md-9
    .col-md-3
      / Contacts
      .headline
        %h2 Contacts
      %ul.list-unstyled.who.margin-bottom-30
        %li
          %a{href: "#"}
            %i.icon-home>
            5B Streat, City 50987 New Town US
        %li
          %a{href: "#"}
            %i.icon-envelope-alt>
            info@example.com
        %li
          %a{href: "#"}
            %i.icon-phone-sign>
            1(222) 5x86 x97x
        %li
          %a{href: "#"}
            %i.icon-globe>
            http://www.example.com
      / Business Hours
      .headline
        %h2 Business Hours
      %ul.list-unstyled.margin-bottom-30
        %li
          %strong Monday-Friday:
          10am to 8pm
        %li
          %strong Saturday:
          11am to 3pm
        %li
          %strong Sunday:
          Closed
      / Why we are?
      .headline
        %h2 Why we are?
      %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.
      %ul.list-unstyled
        %li
          %i.icon-ok.color-green
          Odio dignissimos ducimus
        %li
          %i.icon-ok.color-green
          Blanditiis praesentium volup
        %li
          %i.icon-ok.color-green
          Eos et accusamus
    / /col-md-3
  / /row
  / Our Clients
  #clients-flexslider.flexslider.home.clients
    .headline
      %h2 Our Clients
    %ul.slides
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/hp_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/hp.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/igneus_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/igneus.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/vadafone_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/vadafone.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/walmart_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/walmart.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/shell_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/shell.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/natural_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/natural.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/aztec_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/aztec.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/gamescast.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/cisco_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/cisco.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/everyday_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/everyday.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/cocacola_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/cocacola.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/spinworkx.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/shell_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/shell.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/natural_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/natural.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/gamescast.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/everyday_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/everyday.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/spinworkx.png"}/
  / /flexslider
  / End Our Clients
/ /container
/ === End Content Part ===