.layer_slider
  #layerslider-container-fw
    #layerslider{style: "width: 100%; height: 500px; margin: 0px auto; "}
      / First Slide
      .ls-layer{style: "slidedirection: right; transition2d: 24,25,27,28; "}
        =image_tag('banner-1.png', alt: 'slider background', class: 'ls-bg')
        
        %span.ls-s-1{style: " text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 3500; durationout : 3500; "}
          .main-text-container-landing
            .transparency
            .text-banner-landing
              Data collection 
              %br/
              Anywhere in the India
    
        %a.btn-u.btn-u-orange.ls-s1{href: contact_path, style: " padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 3500; "}
          Contact Us Now
      / End First Slide
      / Second Slide
      .ls-layer{style: "slidedirection: top; "}
        =image_tag('banner-2.png', alt: 'slider background 2', class: 'ls-bg')
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; "}
          .sub-text-container-1
            .transparency
            .sub-text-banner-1
              CAPI
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; "}
          .sub-text-container-1
            .transparency
            .sub-text-banner-1
              PAN INDIA REACH
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; "}
          .sub-text-container-1
            .transparency
            .sub-text-banner-1
              HIGHEST QUALITY
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; "}
          .sub-text-container-1
            .transparency
            .sub-text-banner-1
              COMPLETE TRANSPARENCY
              

        %a{href: "new_user_registration_path"}
          =#image_tag('solo-student.jpg', alt: 'slider image', style: " top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ", class: 'ls-s-1' )
      .ls-layer{style: "slidedirection: top; "}
        =image_tag('banner-3.png', alt: 'slider background 2', class: 'ls-bg')
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; "}
          Paid internships
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; "}
          Paid Projects
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; "}
          Short duration projects also available
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; "}
          Internships with leading organizations
        
        %a{href: "new_user_registration_path"}
          =#image_tag('solo-student.jpg', alt: 'slider image', style: " top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ", class: 'ls-s-1' )
        
      / End Second Slide
/ /layer_slider
/ === End Slider ===

/ === Purchase Block ===
.purchase
  .container
    .row
      .col-md-9
        %span We help you do data collection, analysis and impact studies
        %p Arthmitee specializes in field data collection, socio-economic data analysis and impact studies.
      .col-md-3
        %a.btn-buy.hover-effect{href: "#"} Discover More
/ /row
/ End Purchase Block
/ === Content Part ===
.container
  / Service Blocks
  .row
    .col-md-4
      .service
        %i.icon-resize-small.service-icon
        .desc
          %h4 Data Collection
          %p Here we will provide information about our data collection services ...
    .col-md-4
      .service
        %i.icon-cogs.service-icon
        .desc
          %h4 Data Analysis
          %p Here we will provide information about our data analysis services ...
    .col-md-4
      .service
        %i.icon-plane.service-icon
        .desc
          %h4 Impact Studies
          %p Here we will provide information about our impact study services
  / /row
  / End Service Blokcs
  / Recent Works
  .headline
    %h2 Recent Works
  .row
    .col-md-3.col-sm-6
      .thumbnails.thumbnail-style.thumbnail-kenburn
        .thumbnail-img
          .overflow-hidden
            %img.img-responsive{alt: "", src: "assets/img/main/2.jpg"}/
          %a.btn-more.hover-effect{href: "#"} read more +
        .caption
          %h3
            %a.hover-effect{href: "#"} Project One
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
    .col-md-3.col-sm-6
      .thumbnails.thumbnail-style.thumbnail-kenburn
        .thumbnail-img
          .overflow-hidden
            %img.img-responsive{alt: "", src: "assets/img/main/3.jpg"}/
          %a.btn-more.hover-effect{href: "#"} read more +
        .caption
          %h3
            %a.hover-effect{href: "#"} Project Two
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
    .col-md-3.col-sm-6
      .thumbnails.thumbnail-style.thumbnail-kenburn
        .thumbnail-img
          .overflow-hidden
            %img.img-responsive{alt: "", src: "assets/img/main/9.jpg"}/
          %a.btn-more.hover-effect{href: "#"} read more +
        .caption
          %h3
            %a.hover-effect{href: "#"} Project Three
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
    .col-md-3.col-sm-6
      .thumbnails.thumbnail-style.thumbnail-kenburn
        .thumbnail-img
          .overflow-hidden
            %img.img-responsive{alt: "", src: "assets/img/main/10.jpg"}/
          %a.btn-more.hover-effect{href: "#"} read more +
        .caption
          %h3
            %a.hover-effect{href: "#"} Project Four
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
  / /row
  / End Recent Works
  / Info Blokcs
  .row
    / Welcome Block
    .col-md-8
      .headline
        %h2 Our Team
      .row
        .col-sm-4
          %img.img-responsive.margin-bottom-20{alt: "", src: "assets/img/main/6.jpg"}/
        .col-sm-8
          %p A highly experienced team which is obsessed with quality
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.icon-ok.color-green
              More Than 10 years of experience
            %li
              %i.icon-ok.color-green
              Diverse team from IIMs and IITs 
      %blockquote.hero-unify
        %p 
          This company has really made our life easier when it comes to data collection. The data quality provided by them was really good. It was really plesant working with them.

        %small CEO, Jack Bour
    / /col-md-8
    / Latest Shots
    .col-md-4
      .headline
        %h2 Latest Shots
      #myCarousel.carousel.slide.carousel-v1
        .carousel-inner
          .item.active
            %img{alt: "", src: "assets/img/main/5.jpg"}/
            .carousel-caption
              %p Facilisis odio, dapibus ac justo acilisis gestinas.
          .item
            %img{alt: "", src: "assets/img/main/4.jpg"}/
            .carousel-caption
              %p Cras justo odio, dapibus ac facilisis into egestas.
          .item
            %img{alt: "", src: "assets/img/main/3.jpg"}/
            .carousel-caption
              %p Justo cras odio apibus ac afilisis lingestas de.
        .carousel-arrow
          %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
            %i.icon-angle-left
          %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
            %i.icon-angle-right
    / /col-md-4
  / /row
  / End Info Blokcs
  / Our Clients
  #clients-flexslider.flexslider.home.clients
    .headline
      %h2 Our Clients
    %ul.slides
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/hp_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/hp.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/igneus_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/igneus.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/vadafone_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/vadafone.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/walmart_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/walmart.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/shell_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/shell.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/natural_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/natural.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/aztec_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/aztec.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/gamescast.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/cisco_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/cisco.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/everyday_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/everyday.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/cocacola_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/cocacola.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/spinworkx.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/shell_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/shell.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/natural_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/natural.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/gamescast.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/everyday_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/everyday.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/spinworkx.png"}/
  / /flexslider
  / End Our Clients
/ /container
/ End Content Part

:javascript
  jQuery(document).ready(function() {
      App.init();
      App.initSliders();
      App.initBxSlider();
      Index.initLayerSlider();
  });
/[if lt IE 9]
  <script src="assets/plugins/respond.js"></script>
  <script src="assets/plugins/layer_slider/assets/js/html5.js"></script>  