/ === Content Part ===
.container
  / Service Blcoks
  .row.service-v1.margin-bottom-40
    .col-md-4.md-margin-bottom-40
      #myCarousel.carousel.slide.carousel-v1
        .carousel-inner
          .item.active
            %img{alt: "", src: "assets/img/main/9.jpg"}/
            .carousel-caption
              %p Facilisis odio, dapibus ac justo acilisis gestinas.
          .item
            %img{alt: "", src: "assets/img/main/4.jpg"}/
            .carousel-caption
              %p Cras justo odio, dapibus ac facilisis into egestas.
          .item
            %img{alt: "", src: "assets/img/main/10.jpg"}/
            .carousel-caption
              %p Justo cras odio apibus ac afilisis lingestas de.
        .carousel-arrow
          %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
            %i.icon-angle-left
          %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
            %i.icon-angle-right
      %h2 60+ Template Pages
      %p
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et
        %strong.color-green quas molestias excepturi
        sint occaecati cupiditate non provident, similique animi..
    .col-md-4
      %img.img-responsive{alt: "", src: "assets/img/main/3.jpg"}/
      %h2 Developer Friendly Code
      %p
        Diccusamus et iusto
        %strong.color-green odio dignissimos aucimus
        nditiis praesentium voluptatum deleniti atque corrupti quos dolores vero eosetaet quas molestias excepturi sint occaecati cupiditate non provident, similique animi..
    .col-md-4.md-margin-bottom-40
      %iframe{allowfullscreen: "", frameborder: "0", height: "227", mozallowfullscreen: "", src: "http://player.vimeo.com/video/47911018", webkitallowfullscreen: "", width: "100%"}
      %h2 Bootstrap 3 Template
      %p
        Unify is an incredibly beautiful Responsive Bootstrap Template for
        %strong.color-green corporate and creative
        professionals. It works on all major web browsers, tablets and phone. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor...
  / End Service Blcoks
  %hr.margin-bottom-40/
  / Info Blcoks
  .row
    .col-sm-4.info-blocks
      %i.icon-bell.icon-info-blocks
      .info-blocks-in
        %h3 Here will be some title
        %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..
    .col-sm-4.info-blocks
      %i.icon-hdd.icon-info-blocks
      .info-blocks-in
        %h3 Here will be some title
        %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..
    .col-sm-4.info-blocks
      %i.icon-lightbulb.icon-info-blocks
      .info-blocks-in
        %h3 Here will be some title
        %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..
  .row
    .col-sm-4.info-blocks
      %i.icon-heart-empty.icon-info-blocks
      .info-blocks-in
        %h3 Here will be some title
        %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..
    .col-sm-4.info-blocks
      %i.icon-thumbs-up-alt.icon-info-blocks
      .info-blocks-in
        %h3 Here will be some title
        %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..
    .col-sm-4.info-blocks
      %i.icon-laptop.icon-info-blocks
      .info-blocks-in
        %h3 Here will be some title
        %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..
  / End Info Blcoks
  %hr.margin-bottom-50/
  / Testimonials and Info
  .row
    .col-md-5
      #testimonials-1.carousel.slide.testimonials.testimonials-v1
        .carousel-inner
          .item.active
            %p Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..
            .testimonial-info
              %img{alt: "", src: "assets/img/testimonials/img1.jpg"}/
              %span.testimonial-author
                Jeremy Asigner
                %em Web Developer, Unify Theme.
          .item
            %p Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..
            .testimonial-info
              %img{alt: "", src: "assets/img/testimonials/user.jpg"}/
              %span.testimonial-author
                User
                %em Java Developer, Htmlstream
          .item
            %p Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..
            .testimonial-info
              %img{alt: "", src: "assets/img/testimonials/img2.jpg"}/
              %span.testimonial-author
                Kate Davenport
                %em Web Designer, Google Inc.
        .carousel-arrow
          %a.left.carousel-control{"data-slide" => "prev", href: "#testimonials-1"}
            %i.icon-angle-left
          %a.right.carousel-control{"data-slide" => "next", href: "#testimonials-1"}
            %i.icon-angle-right
    .col-md-7
      .search-blocks.search-blocks-top-sea
        .row
          .col-md-4.search-img
            %img.img-responsive{alt: "", src: "assets/img/new/img10.jpg"}/
            %ul.list-unstyled
              %li
                %i.icon-briefcase
                Dell, Google
              %li
                %i.icon-map-marker
                New York, US
          .col-md-8
            %h2
              %a{href: "#"} Sea Bordered Box
            %ul.list-unstyled.search-rating
              %li
                %i.icon-star
              %li
                %i.icon-star
              %li
                %i.icon-star
              %li
                %i.icon-star
              %li
                %i.icon-star
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.
  / End Testimonials and Info
  / Our Clients
  #clients-flexslider.flexslider.home.clients
    .headline
      %h2 Our Clients
    %ul.slides
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/hp_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/hp.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/igneus_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/igneus.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/vadafone_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/vadafone.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/walmart_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/walmart.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/shell_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/shell.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/natural_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/natural.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/aztec_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/aztec.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/gamescast.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/cisco_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/cisco.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/everyday_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/everyday.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/cocacola_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/cocacola.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/spinworkx.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/shell_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/shell.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/natural_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/natural.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/gamescast.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/everyday_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/everyday.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/spinworkx.png"}/
  / /flexslider
  / End Our Clients
/ /container
/ === End Content Part ===