/ === Content Part ===
.container
  .row.team.margin-bottom-20
    .col-md-5
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/1.jpg"}/
        %h3
          %a Jack Bour
          %small Chief Executive Officer
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
    .col-md-7
      .margin-bottom-10
      %p Acilis quidem rerum facilis est et expedita distinctio estet expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
      %br/
      .tag-box.tag-box-v1
        %p Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.
      #testimonials-3.carousel.slide.testimonials.testimonials-v1
        .carousel-inner
          .item.active
            %p Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..
            .testimonial-info
              %img{alt: "", src: "assets/img/testimonials/img2.jpg"}/
              %span.testimonial-author
                Jenny Lawiso
                %em Web Developer, Unify Theme.
          .item
            %p Ducimusqui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..
            .testimonial-info
              %img{alt: "", src: "assets/img/testimonials/img1.jpg"}/
              %span.testimonial-author
                User
                %em Java Developer, Htmlstream
          .item
            %p Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..
            .testimonial-info
              %img{alt: "", src: "assets/img/testimonials/user.jpg"}/
              %span.testimonial-author
                Kate Davenport
                %em Web Designer, Google Inc.
        .carousel-arrow
          %a.left.carousel-control{"data-slide" => "prev", href: "#testimonials-3"}
            %i.icon-angle-left
          %a.right.carousel-control{"data-slide" => "next", href: "#testimonials-3"}
            %i.icon-angle-right
  .headline
    %h2 Account Directors
  .row.team.margin-bottom-40
    .col-sm-4
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/3.jpg"}/
        %h3
          %a Kate Metus
          %small Project Manager
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
    .col-sm-4
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/2.jpg"}/
        %h3
          %a Porta Gravida
          %small VP of Operations
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
    .col-sm-4
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/4.jpg"}/
        %h3
          %a Donec Elit
          %small Director, R & D Talent
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
  .tag-box.tag-box-v2
    %p Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.
  .margin-bottom-60
  .headline
    %h2 Other Team Members
  .row.team.margin-bottom-20
    .col-sm-3
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/1.jpg"}/
        %h3
          %a Jack Bour
          %small Chief Executive Officer
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
    .col-sm-3
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/3.jpg"}/
        %h3
          %a Kate Metus
          %small Project Manager
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
    .col-sm-3
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/2.jpg"}/
        %h3
          %a Porta Gravida
          %small VP of Operations
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
    .col-sm-3
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/4.jpg"}/
        %h3
          %a Donec Elit
          %small Director, R & D Talent
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
  %hr.margin-bottom-40/
  .row.team
    .col-sm-3
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/2.jpg"}/
        %h3
          %a Jack Bour
          %small Chief Executive Officer
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
    .col-sm-3
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/1.jpg"}/
        %h3
          %a Kate Metus
          %small Project Manager
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
    .col-sm-3
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/4.jpg"}/
        %h3
          %a Porta Gravida
          %small VP of Operations
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
    .col-sm-3
      .thumbnail-style
        %img.img-responsive{alt: "", src: "assets/img/team/3.jpg"}/
        %h3
          %a Donec Elit
          %small Director, R & D Talent
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
        %ul.list-unstyled.list-inline.team-socail
          %li
            %a{href: "#"}
              %i.icon-facebook
          %li
            %a{href: "#"}
              %i.icon-twitter
          %li
            %a{href: "#"}
              %i.icon-google-plus
/ /container
/ === End Content Part ===